.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $white;
    color: $primary;
    border: 1px solid darken($white, 10%);
    margin: 0 0 1rem 0;
    border-radius: .5rem;
    overflow: hidden;

    &:hover, &:focus, &:visited {
        color: inherit;
        outline: none;
    }

    &__body {
        padding: .5rem;
        margin: .5rem;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        flex: 1 1 100%;
    }

    &__img {
        background-color: darken($white, 5%);
        text-align: center;

        img {
            display: inline-block;
            margin-bottom: -4px;

            &[src=""] {
                display: none;
            }
        }

    }

    &__title {
        font-size: 1.25rem;
        line-height: 1.25;
        margin: 0 0 .5rem 0;
    }

    .card__description {
        font-size: .85rem;
        text-align: justify;
    }

    &__rating {
        padding: .5rem;
        margin: .5rem;
        letter-spacing: 2px;
        color: $grey;
    }

    &__btn {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: block;
    }

}

.card--overlay {
    will-change: opacity;

    .card__img {
        position: relative;

        &:before {
            background: linear-gradient(rgba($primary, .25), rgba($primary, .95));
            position: absolute;
            display: block;
            content: ' ';
            left: 0; right: 0;
            top: 0; bottom: 0;
            opacity: 0;
            transition: opacity .75s ease-in-out;
        }

        .card__description {
            position: absolute;
            color: $white;
            text-shadow: 0 2px 10px rgba($primary, .75);
            left: 1rem; right: 1rem; bottom: 1rem;
            transition: opacity .5s ease-in-out;
            opacity: 0;
        }
    }

    &:hover {
        .card__description {
            opacity: 1;
        }

        .card__img {
            &:before {
                opacity: 1;
            }
        }
    }
}