.checkout-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $lightgrey;

    > * {
        padding: 1rem;
    }

    h3 {
        width: 40%;
    }

    p {
        width: 60%;
    }

    > div {
        display: flex;

        .btn {
            padding: 0.5rem;
        }
    }
}