.header-container {
    position: relative;
    box-shadow: 0 5px 10px rgba($lightgrey, .5);

    .site-header {
        display: flex;
        background-color: #fff;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        opacity: 0.9;

        .header__logo {
            padding: 10px;

            &__img {
                display: block;
                width: 75px;
                height: 75px;
            }
        }

        .header__nav {

        }
    }

    .basket {
        position: absolute;
        max-width: 360px;
        width: 100%;
        top: 100%;
        right: 1rem;
    }
}