.header-container {
    position: relative;
    box-shadow: 0 5px 10px rgba($lightgrey, .5);

    .site-header {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;

        @media only screen and (min-width: map-get($breakpoints, md)) {
            flex-direction: row;
        }

        .header__logo {
            flex: 0 0 auto;
            width: 75px;
            padding: 10px;

            &__img {
                display: block;
                padding: 25px 5px;
            }
        }
    }

    .basket {
        position: absolute;
        max-width: 360px;
        width: 100%;
        top: 100%;
        right: 1rem;
    }
}