body {
    // Reset
    padding: 0;
    margin: 0;

    // Brand
    font-family: 'Fira Sans', sans-serif;
    background: $white;
    color: $primary;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    letter-spacing: 1.1px;
}

a {
    color: $blue;
    text-decoration: none;
    transition: .5s ease;
    &:hover {
        color: darken($blue, 25%);
    }
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.display--circle {
    display: block;
    border-radius: 100%;
    overflow: hidden;
}