html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    // Reset
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    // Height
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .app {
        flex: 1 1 auto;
    }

    // Brand
    font-family: 'Fira Sans', sans-serif;
    background: $white url("/assets/img/white-codelines.svg") top center;
    color: $primary;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    letter-spacing: 1.1px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $blue;
    text-decoration: none;
    transition: .5s ease;
    &:hover {
        color: darken($blue, 25%);
    }
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}

.btn {
    display: inline-block;
    background-color: $primary;
    color: $lightgrey;
    padding: 1rem;
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 200;
    border-radius: .25rem;
    transition: background-color .5s ease, color .5s ease;

    &--active, &:hover {
        background-color: $secondary;
        color: $white;
    }

    &--blocl {
        display: block;
    }
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.display--circle {
    display: block;
    border-radius: 100%;
    overflow: hidden;
}

.disabled {
    opacity: 0.5;
}

.img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
        &:last-child {
            position: absolute;
            box-shadow: 0 0 50px 50px rgba($primary, .5);
            z-index: 1;
        }
    }
}