.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}

.content {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem 0;
    box-shadow: 0 0 8px -4px #797a7aab;
}

.block { display: block; }

.margin { margin: 1rem;} .margin--0 { margin: 0; }
.mt { margin-top: 1rem; } .mt--0 { margin-top: 0; }
.mb { margin-bottom: 1rem; } .mb--0 { margin-bottom: 0; }
.ml { margin-left: 1rem; } .ml--0 { margin-left: 0; }
.mr { margin-right: 1rem; } .mr--0 { margin-right: 0; }

.padding { padding: 1rem;} .padding--0 { padding: 0;}
.pt { padding-top: 1rem; } .pt--0 { padding-top: 0; }
.pb { padding-bottom: 1rem; } .pb--0 { padding-bottom: 0; }
.pl { padding-left: 1rem; } .pl--0 { padding-left: 0; }
.pr { padding-right: 1rem; } .pr--0 { padding-right: 0; }

.br { border-radius: .25rem; }

.bg--white { background-color: #fff; }
.bg--light { background-color: $light; }
.bg--lighter { background-color: $white; }
.bg--primary { background-color: $primary; }
.bg--secondary { background-color: $secondary; }

.display--circle {
    display: block;
    border-radius: 100%;
    overflow: hidden;
}

.disabled {
    opacity: 0.5;
}